{% extends 'base.html' %}
{% block content %}
<!-- Header -->
<header class="col-md-12" data-aos="zoom-in" data-aos-duration="500">
    <h1 class="text-center" tabindex="0">Solicitud de turnos UNSADA</h1>

</header>
<hr />

<!-- Inicio Encuesta -->
<section class="seccion-container" data-aos="fade-right" data-aos-duration="750" data-aos-easing="ease-in-out">
    <h3>ERROR</h3>
    <label class="label-datos">No se ingresó la actividad</label>
</section>
<hr/>
<section>

    <button class="btn btn-primary btn-lg" onclick="window.history.back()">Volver</button>

</section>
{% endblock %}