<!DOCTYPE html>
<html lang="en">
<head>
  <title>Imagen QR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      .center,img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .centrado{
            margin-left: auto;
            margin-right: auto;
        }
  </style>
</head>
<body>

<div class="container sample" id="sample">
    <header class="col-md-12">
        <h2 class="text-center" tabindex="0">Imagen QR</h2>
    </header>
    <section class="seccion-container">
        </br>
        <img class="text-center" src="{{ qrcode(qr) }}">
        </br>
        <div class="text-center centrado">
            <h5 class="text col-md-12" >Guarda el siguiente QR (se presentará el día en el que ingreses)<h5>
            <h5 class="text col-md-12">Nombre: <b>{{nombre}}</b><h5>
            <h5 class="text col-md-12">Edificio: <b>{{edificio}}</b><h5>
            <h5 class="text col-md-12">Sede: <b>{{sede}}</b><h5>
            <h5 class="text col-md-12">Fecha: <b>{{fecha}}</b><h5>
            <h5 class="text col-md-12">Hora: <b>{{hora}}</b><h5>
        </div>
    </section>
    
</div>
<section class="container">
    <form id="form1" runat='server'>
        <button type="submit" class="btn btn-primary mb-2 center" onclick="javascript:printDiv('sample')">Descargar/Imprimir QR</button>  
    </form> 
</section>
</body>
<script language="javascript" type="text/javascript"> 
    function printDiv(divID)  
    { 
        var divElements = document.getElementById(divID).innerHTML; 
        var oldPage = document.body.innerHTML; 

        document.body.innerHTML =  
          "<html><head><title></title></head><body>" +  
          divElements + "</body>"; 

        window.print(); 

        document.body.innerHTML = oldPage; 
    } 
</script>
</html>
