<!DOCTYPE html>
<html>
    <head>

        <style>
            .text{
                color: white;
            }


            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            

        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1 class="text-center" tabindex="0">Imagen QR</h1>
        <section class="container">  
            <section class="seccion-container">
                <h3 class="text">Presenta este QR en la universidad para obtener acceso el día en el que hayas solicitado el turno.</h3>
                <img class = "center" src="http://jccolazo.hopto.org:8080/api/qr?texto="{{qr}}>
            </section>
            
        </section>
        


    </body>
</html>
       
          